

.site-footer{
   
    border-top: 1px solid #f3efef;
    margin-top: 3.125rem;
    padding-top: 3.125rem;
    color: blue;
    background-color: #F8F9FA;
  }
  .site-footer h3{
  margin-bottom: 0.0313rem;
  }
  .flex-footer {
    display: flex;
    justify-content: space-around;
    
  }
    
  

  .container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .card-img-top{
    width: 280px;
    height: 330px;
  }



  h1,h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: blue;
  }

  .di-a{  
    display: inline;
    
  }

  .img-footer{
    width: 30px;
    height: 30px;
  }

  .redes li{
    list-style: none;
    height: 20px;
    padding-bottom: 20px;
    margin: 20px;
  }

 .soporte h3{
    text-align: center;
  } 

  .soporte li{
    list-style: none;
    height: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    margin: 20px;
    margin-left: 15px;

  }
  .col-3{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .img-logo{
    width: 300px;
    height: 300px;
    
  }


  .form {
    top: 50px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }